{% extends 'forms.html' %}

{% block title %} Login {% endblock %}

{% block body %}

<!-- Login section start -->

<section class="base" id="base-signup">
    <div class="base-content">
        <div class="form">
            <h3 class="mt-3">
                Please Login 
            </h3> <br>
            
            <hr class="first"> <br>
            <form method="POST">
                {{ form.hidden_tag() }}

                <div class="email"><h4>Email Address</h4>{{ form.email }} <hr></div>
                <div class="password"><h4>Password</h4>{{ form.password }} <hr></div>

                <div class="buttons">
                    <a href="/register">Register</a>
                    {{ form.submit() }}
                </div>


            </form>
        </div>
    </div>
</section>


{% endblock %}