{% extends 'base.html' %}

{% block title %} View All registered clients {% endblock %}


{% block body %}

{% if clients | length < 1 %}
<div class="text-center">
    <h3 style="margin-top: 100px;">All projects </h3>
    <a class="btn btn-success" href="/registered-clients">Add</a>
</div>

{% else %}

<div class="text-center" style="margin-top: 100px;">
    <h3>All registered clients </h3>
</div>

<table class="table table-dark table-hover" style="margin-top: 60px;">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Date joined</th>
        </tr>
    </thead>

    <tbody>
        {% for client in clients %}

        <tr>
            <th scope="row">{{ client.id }}</th>
            <td>{{ client.username }}</td>
            <td>{{ client.email }}</td>
            <td>{{ client.date_joined }}</td>

        </tr>


        {% endfor %}
    </tbody>
</table>


{% endif %}


{% endblock %}